#thumbs-container {
	width: 600px;	
	height: 120px;
	margin: 0 auto;
}

#thumbnails ul {
	list-style-type: none;
}

#thumbnails li {
	float: left;
	margin: 0 20px;
}

ul img {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.selected img {
  border: 1px solid black;
}

#front {
	width: 800px;
	margin: 0 auto;
}

#front img {
	margin: 0 auto;
}