<script type="text/javascript" src="/public/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/public/underscore-min.js"></script>
<script type="text/javascript" src="/public/backbone-min.js"></script>
<script type="text/javascript" src="/public/json2.js"></script>

<div id="navigation-photo">
  <div id="navigation-photo-buttons">
    <ul>
      <li><a href="/photos.html">headshots</a></li>
      <li><a href="/production-photos.html">production photos</a></li>
   </ul>
 </div>
</div>

