<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rosa SanMarchi - <%= @item[:title] %></title>
    <link href='http://fonts.googleapis.com/css?family=Diplomata+SC' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/resume_styles.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/photos_styles.css">
    <link rel="stylesheet" href="stylesheets/video_styles.css">
  </head>
  <body>
    <div id="container">
      <div id="content">
        <div id="header">
          <h1>Rosa SanMarchi</h1>
          <div id="navigation">
            <div id="navigation-buttons">
              <ul>
                <li><a href="/index.html">home</a></li>
                <li><a href="/resume.html">resume</a></li>
                <li><a href="/photos.html">photos</a></li>
                <li><a href="/video.html">video</a></li>
                <li><a href="/contact.html">contact</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div id="main">
          <%= yield %>
        </div>
        <!--<div id="footer">-->
          <!--<div id="footer-text">-->
            <!--Copyright 2014 Rosa SanMarchi - info@rosasanmarchi.com-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>
  </body>
</html>

